#hangman {
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: #ffffff;
  width: 50%;
  border: 3px dotted green;
  padding: 10px;
  background: #000000;
  margin: auto;
}
html {
background-color: #000000;
}
